<%- include ('../partials/headers.ejs') %>

    <body>
        <%- include ('../partials/dashboardNav.ejs') %>
            <div class="con-hist">
                <h2 id="sub-ttl">Confirmed Bookings</h2>
                <div class="flights-details">
                    <% if (length> 0) { %>
                        <% for( let index=0; index < length; index++ ) { %>
                            <form action="/cancel" method="post">
                                <div class="flight">
                                    <div>
                                        <h2 class="flight-name"><span class="index">
                                                <%= index+1 %>.
                                            </span>
                                            <%= history[index].flightName %>
                                        </h2>
                                        <div class="flight-info">
                                            <span class="tkt-num">
                                                <input name="ticketNum" readonly
                                                    value="<%= history[index].ticketnum %>">
                                            </span>
                                            <span class="code">
                                                <%= history[index].flightCode %>
                                            </span>
                                            <span class="code">
                                                <%= history[index].deptDate %>
                                            </span>
                                            <span class="dept-time">
                                                <%= history[index].deptTime%>
                                            </span>

                                            <span class="arr-time">
                                                <%= history[index].arrTime %>
                                            </span>
                                            <span class="dur-time">

                                                <% switch (history[index].expSts) { case 0 : %>
                                                    <p class="dot" id="cur"></p>
                                                    <span>Today</span>
                                                    <% break; case 1 : %>
                                                        <p class="dot" id="prv"></p>
                                                        <span>Done</span>
                                                        <% break; case 2 : %>
                                                            <p class="dot" id="nxt"></p>
                                                            <span>Upcoming</span>
                                                            <% break; } %>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="booking-options">
                                        <% if (history[index].expSts==0 || history[index].expSts==1) { %>

                                            <input type="submit" id="alert" disabled class="disabled" value="Cancel">
                                            <% } else {%>
                                                <input type="submit" id="alert" value="Cancel">
                                                <% } %>
                                    </div>
                                </div>
                            </form>
                            <% } %>


                                <% } else {%>
                                    <p id="emt">Empty</p>
                                    <% } %>

                </div>
            </div>
    </body>
